.stock {
  // use static width, rather than fluid (flex: 1)
  // total width changes as different stocks are added/replaced
  font-size: 2.4rem;
  font-weight: 700;
  text-shadow: 0 3px 8px, 3px 0 8px, -3px 0 8px;
  backface-visibility: hidden;
  will-change: transform;
  transform: translate3d(0, 0, 0);
  grid-gap: 15px;
  padding: 0 50px;
  box-sizing: content-box;
  @media (min-width: 480px) {
    font-size: 3.4rem;
    padding: 0 100px;
  }
  @media (min-width: 768px) {
    font-size: 4.2rem;
    padding: 0 150px;
  }
  @media (min-width: 1200px) {
    font-size: 6.4rem;
  }
}

.stock--up {
  color: rgba(green, 0.7);
}

.stock--down {
  color: rgba(red, 0.7);
}