.stock {
  // use static width, rather than fluid (flex: 1)
  // total width changes as different stocks are added/replaced
  width: 250px;
  animation: slide-left 3s linear;
  backface-visibility: hidden;
  font-weight: 700;
  text-shadow: 0px 0px 5px;
}

.stock--up {
  color: green;
}

.stock--down {
  color: red;
}

@keyframes slide-left {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(-100%, 0, 0);    
  }
}